* {
    color: white;
}
.generate-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.generate-wrapper input, button {
    background-color: whitesmoke;
    color: black;
}

table {
    width: auto;
}
tr {
    margin-bottom: 4px;
}
th, td {
    width: 20%;
    color: white;
    padding: 0 5px;
    text-align: left;
    vertical-align: center;
}

