* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
}
.header {
    display: flex;
    align-items: center;
    background-color: #131619;
    padding: 1.5vh 3vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.header .logo {
    display: flex;
    align-items: center;
    margin-right: 2vh;
}
.header .logo img {
    height: 6.5vh;
}
.header nav {
    display: flex;
    margin-right: auto;
}
.header nav a {
    text-decoration: none;
    margin: 0 1.5vh;
    padding: 0.5vh 1.5vh;
    color: white;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s;
    font-size: 1.1rem;
}
.header nav a:hover {
    color: #ecf0f1;
    background-color: #2c3e50;
}
.header .action-buttons a {
    margin-left: 2vh;
    padding: 0.75vh 1.5vh;
    color: white;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 1.1rem;
}
.header .action-buttons a.logout {
    border: none;
    text-decoration: underline;
}
.header .action-buttons a.profile {
    background-color: #e67e22;
    border-radius: 3vh;
}
.header .action-buttons a.profile:hover {
    background-color: #d35400;
}