.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login-box{
    margin: auto;
    width: 100%;
    margin-bottom: 20px; 
}

.login-box * {
    display: flex;
    color: white;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label{
    font-size: 0.7rem;
    color: whitesmoke;
    margin-bottom: 1vh;
}

.label-container  h2,  h4{
    margin-bottom: 2vh;
    text-align: center;
}

h4{
    margin-bottom: 2vh;
    text-align: center;
    margin-left: 5vh;
}

.label-container h2{
    font-size: 1.5rem;
    color: whitesmoke;
    letter-spacing: 1px;
}

.label-container h4{
    font-size: 0.8rem;
    color: #67696b
}

.label-container b{
    font-weight: 750;
    background-color: #f3ec78;
    background-image: linear-gradient(20deg, #75bac8, #d9a25b);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.label-container{
    margin:5vh auto ;
    display: block;
    width: fit-content;
}
.button-container {
    flex-direction: column;
    align-items: center;
    width: 70%;
}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

b {
    margin-left: 5px;
    font-size: 25px;
}

input{
    padding-left: 20px;
    width: 70%;
    height: 6vh;
    border-radius: 10px;
    margin-bottom: 3vh;
    border-style: solid;
    border-width: thin;
    background-color: transparent;
    color: white;
}

input:not([name="generatedCaptcha"]):hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
    transition: box-shadow 0.4s ease;
}


.button-container button{
    width: 60%;
    border-radius: 12px;
    margin-bottom: 3vh;
    display: block;
    font-size: 1rem;
    border-style: none;
    color: #131619;
    background-color: #f78c24;
    transition: color 0.4s ease, box-shadow 0.5s ease;
}

.button-container button:hover {
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}

.img-photo{
    display: none;
}

div.login-box h1.error {
    justify-content: center;
    font-size: 10px;
    margin-bottom: 10px;
    color: red;
}

#link-signup {
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    color: orange;
    font-size: 10px;
    padding: 10px;
    margin-bottom: 3vh;
}

input[type=text]:focus {
  padding-left: 5%;
}

#generatedCaptcha {
    text-align: center;
    background-color: #FFA500;
}

@media only screen and (min-width: 768px){

    .login-box{
        max-width: 768px;
        margin: 0 auto;
    }
    
    .label-container h4{
        text-align: left;
    }
    
    form input{
        width: 100%;
    }
   
    
}

@media only screen and (min-width: 1248px){
    
    .main-container {
        display: flex;
    }
    
    .login-box {
        width: 50%;
        max-width: 600px;
        margin-bottom: 20px; 
    }
    
    .img-photo {
        display: block;
        width: 50%;
        max-width: calc(50% - 20px); 
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
  
    form input{
        width: 60%;
    }
    
    .button-container button{
        width:40%;
    }
    
    .label-container{
        width: fit-content;
    }

    .label-container h2{
        font-size: 1.5rem;
    }

}
