* {
    margin: 0;
    padding: 0;
    font-family: "Jackarta", sans-serif;
    background-color: #131619;
    color: #97999b;
    border-color: #97999b;
}
.img-photo {
    display: none;
}

.teacher-info {
    width: 100%; 
    display: flex; 
    flex-direction: column;
    background-color: transparent;
    position: relative;
}

.teacher-description {
    margin: 2vh;
    padding-right: 2vw;
    width: 90%;
    background-color: transparent;
}

.teacher-description p {
    width: 90%;
    height: 15%;
    font-size: 0.7rem;
}

.teacher-description h4 {
    font-size: 0.8rem;
    color: #e69249;
    background-color: transparent;
}

.teacher-description h2 {
    font-size: 0.9rem;
    margin: 1vh 0;
    background-color: transparent;
}

.img-container {
    display: flex;
    align-items: center;
    margin: 1vh 2vh;
    width: 50%; 
    background-color: transparent;
    
}

.img-container .img-profile-pic {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.table-container{
    margin: 10vh auto;
    width: 90%;
    padding: 0.5%;
    overflow: hidden;
    overflow-x: scroll;
    border-radius: 10px;
    border-style:none;
    background-color: #ffffff;
}

table{
    border-collapse: separate;
    border-spacing: 5px;
    width: 100%;
    min-width: 50vh;
    text-align: center;
    background-color: #ffffff;
    
}

table td{
    border-style: none;
    background-color: #E0E4EA;
    border: 1px solid #ddd;
    border-radius: 10px;
} 

table td:last-of-type{
    background-color: #E0E4EA;
    border-style: none;
    border-radius: 10px;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

table form{
    background-color: #E0E4EA;
    height: 100%;
    width: 100%;
}

table th{
    padding: 1%;
    background-color: #ffffff;
}

table #accept{
    width: 50%;
    height: 100%;
    float: left
}

table #reject{
    width: 50%;
    height: 100%;
    float: right
}

table form .btn-accept, table form .btn-reject{
    border-style: none;
     background-color: #E0E4EA;
}

@media only screen and (min-width: 768px) {
    
    .img-photo{
        width:100%;
        height: 15vh;
        object-fit: cover;
    }
    .teacher-info {
        margin: 3vh auto;
        display: block; 
    }
    
    .teacher-description{
        width: 50%; 
        float: left;
        margin: 2vh 2vw;
    }
    
    .img-container {
        width: 30%; 
        float: right;
    }

    .img-container .img-profile-pic {
        width: 150px;
        height: 150px;
    }
    
    
    .teacher-description p {
        font-size: 0.8rem;
    }

    .teacher-description h4 {
        font-size: 1rem;
    }

    .teacher-description h2 {
        font-size: 1.5rem;
    }

}




